# internal folders
build/*
.godot/
.vscode/*
godot-cpp/*
game/android/*
android_project/*
release/*

# private export files
*.cfg

# binaries
*.o
*.obj
*.os
*.so
*.wasm
*.dll
*.exp
*.lib

# export files
*.apk